@model Webapp_api.Models.Customers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>
<h1>@Model.Name</h1>

<p>Birthdate:@Model.Birthdate</p>
<p>MembershipType.Name:@Model.MembershipType.Name</p>









